body {
  background-color: rgb(50, 12, 82);
  text-align: center;
  color: #FFF5FF;
}

a {
  color: #D5CABD;
  padding: 5px;
  margin: 15px;
  text-decoration: none;
}

a:hover {
  color: #FFF5FF;
  text-shadow: 2px 2px #AB84A8;
}


button {
  padding: 10px;
  color: #D5CABD;
  text-decoration-line: underline;
  text-decoration: solid;
  text-decoration-color: #D5CABD;
  background: none;
  border: none;
}

button:hover {
  padding: 6.5px;
  text-shadow: 2px 2px #AB84A8;
  text-decoration-line: none;
  font-size: larger;
}

input {
  padding: 10px;
  margin: 10px;
}